<div class="row d-flex justify-content-center">
    <div class="col-sm-10 mt-3">
        <div class="d-flex flex-row bd-highlight mb-3">
            <%= image_tag 'account.jpeg', :size => '80x80', class: 'm-3' %>
            <div class="align-self-center">
                <h5><%= @user.name %></h5>
                <div>
                    <%= render 'shared/stats' %>
                </div>
                <div>
                    <%= render 'follow_form' if logged_in? %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10 mt-3">
        <h5>あなたの植物たち</h5>
        <div class="dropdown-divider mb-3"></div>
        <% if current_user?(@user) %>
            <%= link_to new_post_path, class: "btn btn-primary btn-block mb-3" do %>
            <%= fa_icon 'plus' %> 記事を作成
            <% end %>
        <% end %>
        投稿件数: <strong><%= @posts.total_count %></strong>件
        <div class=" d-flex justify-content-center">
            <%= paginate @posts %>
        </div>
        <%= render 'posts/posts_list', posts: @posts %>
        <div class=" d-flex justify-content-center">
            <%= paginate @posts %>
        </div>
    </div>
</div>