<div class="row">
    <% @calendars.each do |calendar| %>
        <div class="col-sm-4 mb-3">
            <div class="card calendar_card">
                <% if calendar.picture.url %>
                    <%= image_tag calendar.picture.url %>
                <% end %>
                <div class="card-body">
                    <h5 class="card-title"><%= changeDateFormat(calendar.month) %></h5>
                    <% if calendar.planted_flag %>
                        <span class="badge badge-success">栽培開始</span>
                    <% end %>
                    <% if calendar.harvested_flag %>
                        <span class="badge badge-success">収穫/栽培終了</span>
                    <% end %>
                    <% if calendar.temperature %>
                        <span class="badge badge-info"><%= "気温:#{calendar.temperature}℃" %></span>
                    <% end %>
                    <p class="card-text text-muted mt-2"><%= simple_format calendar.content %></p>
                    <% if current_user?(@post.user) %>
                        <%= link_to edit_post_calendar_path(@post,calendar), remote: true, class: "btn btn-primary btn-sm btn-block text-white" do %>
                            <%= fa_icon 'edit' %> カレンダー編集
                        <% end %>
                        <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div> 