<% posts.each do |post| %>
    <div class='d-flex justify-content-center'>
        <div class="card mb-4 post_card">
            <div class="card-header">
                <span class="badge badge-success mr-2"><%= "#{changeDateFormat(post.planted_at)}栽培開始" %></span>
                <%= link_to post.title, post %>
                <%= link_to post.user.name, post.user%>
                栽培地:<%= post.prefecture.name %>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4">
                        <%= image_tag post.picture.url, :size => '120x80' %>
                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-8">
                        <p class="card-subtitle mb-2 text-muted">
                            <%= post.content %>
                        </p>
                        <div class="d-flex">
                            <div class="align-self-center" id="likes">
                                <%= fa_icon 'thumbs-up', class: "text-success" %>
                                <%= "#{post.liked.count} いいね!" %>
                            </div>
                            <div class="align-self-center ml-3" id="likes">
                                <%= fa_icon 'comments', class: "text-success mr-2" %>
                                <%= "#{post.comments.count} コメント" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>