<div class="row py-5">
  <div class="col-sm-4">
      <div class="row ml-4">
        <div class="col-sm-10">
          <div class="card" style="width: 22rem;">
            <%= image_tag @post.picture.url %>
            <div class="card-body">
              <h5 class="card-title"><%= @post.title %></h5>
              <p class="card-subtitle mb-2 text-muted"><%= @post.content %>.</p>
              <%= form_for(current_user.active_likes.build, remote: true) do |form| %>
                  <%= hidden_field_tag :post_id, @post.id %>
                  <%= form.submit "いいね", class: "btn btn-primary" %>
              <% end %> 
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  <%= fa_icon 'user-circle' %> 投稿者: <%= link_to @post.user.name, @post.user %>
              </li>
              <li class="list-group-item">
                  <%= fa_icon 'heart' , class: "text-danger"%> いいね: <span id="likes"><%= @likes.count %></span>
              </li>
              <li class="list-group-item">
                  <%= fa_icon 'map' %> 栽培地: <%= @prefecture.name %>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-10 mt-5">
          <h5 class="card-title"><%= "#{@comments.count}件のコメント" %></h5>
          <div class="card" style="width: 22rem;">
            <div class="card-body">
              <%= form_for([@post, current_user.comments.build], remote: true) do |form| %>
                <div id="comment-content">
                  <%= form.text_area :content, class: "form-control", rows: 5 %>
                </div>
                <%= form.submit "追加する", class: "btn btn-link" %>
              <% end %>
            </div>
            <div class="dropdown-divider"></div>
            <div id="comments" class="card-body pa-4">
              <% @comments.each do |comment| %>
                <div class="mt-2">
                  <%= fa_icon 'user-circle' %><%= comment.user.name %><br />
                  <%= comment.content %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <% @calendars.each do |calendar| %>
        <div class="col-sm-11">
          <div class="card">
            <div class="row no-gutters">
              <div class="col-sm-12">
                <div class="card-body">
                  <div class="card-title d-flex justify-content-between">
                    <h5><%= changeDateFormat(calendar.month) %></h5>
                    <%= link_to "編集", edit_calendar_path(calendar), remote: true %>
                    <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                  </div>
                  <% if calendar.planted_flag %>
                    <span class="badge badge-pill badge-success">種植え</span>
                  <% end %>
                  <% if calendar.harvested_flag %>
                    <span class="badge badge-pill badge-success">収穫</span>
                  <% end %>
                  <% if calendar.picture.url %>
                    <span class="badge badge-pill badge-info">写真あり</span>
                  <% end %>
                  <% if calendar.temperature %>
                    <span class="badge badge-pill badge-info"><%= "気温:#{calendar.temperature}℃" %></span>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <p class="card-text"><%= calendar.content %></p>
                </div>                
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

