<div class="row py-5">
  <div class="col-sm-4">
    <div class='d-flex justify-content-center'>
      <div class="card" style="width: 20rem;">
        <%= image_tag @post.picture.url %>
        <div class="card-body">
          <h5 class="card-title"><%= @post.title %></h5>
          <p class="card-subtitle mb-2 text-muted"><%= @post.content %>.</p>
          <%= fa_icon 'heart' %> <span style="color:red">+15</span> 
          <%= fa_icon 'comments' %> <span style="color:red">+30</span>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
              <%= fa_icon 'user-circle' %> 投稿者: <%= link_to @user.name, @user %>
          </li>
          <li class="list-group-item">
              <%= fa_icon 'map' %> 栽培地: <%= @prefecture.name %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <% @calendars.each do |calendar| %>
        <div class="col-sm-11">
          <div class="card">
            <div class="row no-gutters">
              <div class="col-sm-12">
                <div class="card-body">
                  <div class="card-title d-flex justify-content-between">
                    <h5><%= changeDateFormat(calendar.month) %></h5>
                    <%= link_to "編集", edit_calendar_path(calendar), remote: true %>
                    <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
                  </div>
                  <% if calendar.planted_flag %>
                    <span class="badge badge-pill badge-success">種植え</span>
                  <% end %>
                  <% if calendar.harvested_flag %>
                    <span class="badge badge-pill badge-success">収穫</span>
                  <% end %>
                  <% if calendar.picture.url %>
                    <span class="badge badge-pill badge-info">写真あり</span>
                  <% end %>
                  <% if calendar.temperature %>
                    <span class="badge badge-pill badge-info"><%= "気温:#{calendar.temperature}℃" %></span>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <p class="card-text"><%= calendar.content %></p>
                </div>                
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

